---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Computer Science Graduate from Philippines with 12 years + of experience in
    software development. Dominion of various programming languages, frameworks,
    CMS and graphics engines. Experience in WEB design and development. Work
    with Data Base handled systems, as well as design, normalization and
    migration. Knowledge of work with graphic design tools for image
    manipulation , User Interfaces design, Web sites and Backend Development.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Technician Information-Technology"
      subtitle="2006 to 2009 at Osvaldo Herrera Polytechnic institute, Habana, Cuba"
    />
    <TimeLineElement
      title="Bachelor Of Science in Computer Science"
      subtitle="2008 to 2012 at STI College Philippines"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Systems Engineer"
      subtitle="From 2012 to at Present at Sumitomo Heavy Industries Design and Manufacturing Inc. , Pasig City, Philippines"
      desc="System multiplatform that includes the steps of a company's personnel, the structure and composition thereof, as well as a powerful designer of credentials and module of control of access. Outspread at the MINFAR and another entities of the country. Technologies: C++, Qt Framework, Subversión, Visual Paradigm, PostgreSQL, Jmeter"
    />

    <TimeLineElement
      title="Full Stack Developer (Intra Company Transfer)"
      subtitle="From 2022 to 2023 at Sumitomo Heavy Industries, Osaki, Japan"
      desc="System of steps of primary information at a company. personnel's steps, control of access, impression of credentials, steps of locales, structure and composition. Technologies: Php,Symfony 3.3 , Gitlab, PostgreSQL, , Boostrap 3, JQuery, HTML,CSS, JavaScript"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">
        EF SET English Certificate 74/100 (C2 Proficient)</a
      >
    </li>
    <li>
      <a
        href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp"
        target="_blank"
      >
        JLPT N5 Passer</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English (Native)</li>
    <li>Tagalog (C2)</li>
    <li>Japanese (N5)</li>
    <li>C#</li>
    <li>JavaScript</li>
    <li>Typescript</li>
    <li>Node.js</li>
    <li>Angular</li>
    <li>React</li>
    <li>HTML</li>
    <li>CSS</li>

    <li>Bootstrap</li>
    <li>JQuery</li>
    <li>WEB Design</li>
    <li>Backend Development</li>
  </ul>
</BaseLayout>
