@page "/"

<PageTitle>Index</PageTitle>
<div class="text-center">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Gabriel Yangzon</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="py-2">
        <text class="text-lg"> I`m a Software Engineer from Philippines.</text>
    </div>

</div>
